.container {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFFFFF;
}
.xyy-shadow {
    border-radius: 0px;
    background-color:#000000;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
    background-color: rgba(255, 255, 255, 0.1); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
}

.xyy-shadow .text-left {
    padding-left: 20px;
    padding-top: 20px;
}

.xyy-shadow .text-left .group_1 h3 {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: 5px;
}

.rollBox{
    height: 4390px;
    position: absolute;
    margin-top: -100%;
}


.rollBox .LeftBotton{
    height:80px;
    width:35px;
    background:url(../img/left.png) no-repeat 0px 5px;
    overflow:hidden;
    float:left;
    display:inline;
    margin:200px 0 0 0;
    cursor:pointer;
}
.rollBox .RightBotton{
    height:80px;
    width:35px;
    background:url(../img/right.png) no-repeat 0px 5px;
    overflow:hidden;
    float:left;
    display:inline;
    margin:200px 0 0 3px;
    cursor:pointer;
}
.rollBox .Cont {
    width: 90%;
    overflow:hidden;
    float:left;
}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{
    width:242px;
    float:left;
    text-align:center;
    margin-left: 40px;
}
.rollBox .Cont .pic img{
    padding:9px;
    background:#fff;
    border:1px solid #ccc;
    display:block;
    margin:0 auto;
    width:240px;
    height:380px;
}
.rollBox .Cont .pic div{line-height:20px;color:#505050;margin:15px 0px;}
.rollBox .Cont .pic div span{display:block;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}

.subheader_pzh {
    text-align: center;
    margin-top: 50px;
}

.subheader_pzh h2 {
    text-align: left;
    margin-bottom: 15px;
    color: #E27A91;
    font-size: 70px;
    font-weight: normal;
    /*text-shadow: 1px 1px 0px rgba(0, 0, 0),*/
    /*1px 2px 1px rgba(255, 255, 255);*/
    text-shadow: 1px 2px 1px rgba(226, 122, 145, 100);
/*    E27A91*/
/*    color:#E27A91*/
}

.subheader_pzh h3 {
    margin-top: -100px;
    text-align: left;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: normal;
}
