@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'alibaba';
	src: url('../fonts/alibaba.ttf') format('truetype');
}

body {
	font-family: alibaba !important;

	/*!*!* 加载背景图 *!*!*/
	/*!*background: url(../img/bg.jpg);*!*/
	/*!*!* 背景图垂直、水平均居中 *!*!*/
	/*!*background-position: left right;*!*/
	/*background-position: center top;*/
	/*!*!* 背景图不平铺 *!*!*/
	/*background-repeat: no-repeat;*/
	/*!*!* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 *!*!*/
	/*background-attachment: fixed;*/
	/*!*!* 让背景图基于容器大小伸缩 *!*!*/
	/*background-size: cover;*/
	/*!*!* 设置背景颜色，背景图加载过程中会显示背景色 *!*!*/
	/*background-color: #464646;*/
	/*!*position: relative;*!*/
	/*background-image: url(../img/bg.jpg);*/
	/*height: 100%;*/
	/*width: 100%;*/
}

/*.main{*/
/*	!*!* 加载背景图 *!*!*/
/*	!*background: url(../img/bg.jpg);*!*/
/*	!*!* 背景图垂直、水平均居中 *!*!*/
/*	!*background-position: left right;*!*/
/*	background-position: center top;*/
/*	!*!* 背景图不平铺 *!*!*/
/*	background-repeat: no-repeat;*/
/*	!*!* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 *!*!*/
/*	background-attachment: fixed;*/
/*	!*!* 让背景图基于容器大小伸缩 *!*!*/
/*	background-size: cover;*/
/*	!*!* 设置背景颜色，背景图加载过程中会显示背景色 *!*!*/
/*	background-color: #464646;*/
/*	!*position: relative;*!*/
/*	background-image: url(../img/bg.jpg);*/
/*	!*height: 100%;*!*/
/*	width: 100%;*/
/*}*/

.main .main_img{
	position: absolute;
}

/*------------------------------------------------
                    typography
--------------------------------------------------*/

h2 {
	font-weight: 900;
	font-size: 30px;
	text-transform: uppercase;
	color: #464545;
}

h3 {
	font-weight: 400;
	font-size: 22px;
	text-transform: uppercase;
	color: #4e4e4e;
}

h4 {
	font-weight: 400;
	font-size: 18px;
	color: #464545;
}

p {
	font-weight: 300;
}

a:link {
	text-decoration: none;
}



/*------------------------------------------------
                     intro
--------------------------------------------------*/

#intro {
	height: auto;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

#intro h1 {
	font-weight: 900;
	font-size: 120px;
	text-transform: uppercase;
	letter-spacing: -5px;
	line-height: 80px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #787777;
	filter: dropshadow(color=#787777, offx=1, offy=1);
	padding-top: 90px;
	margin: 0 auto;
	position: fixed;
	z-index: 100;
	width: 100%;
}

span.small {
	font-size: 80px;
}

span.name {
	color: #b46b6b;
	text-shadow: 1px 0px 1px #787777;
}

span.amp {
	display: inline-block;
	font-size: 80px;
	font-weight: normal;
	font-style: italic;
}


/*------------------------------------------------
                       nav
--------------------------------------------------*/

nav {
	background:url(../img/nav_bg.jpg) repeat-x;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 7px 0px #818181;
	-moz-box-shadow: 0px 0px 7px 0px #818181;
	box-shadow: 0px 0px 7px 0px #818181;
}

.mhqxnav {
	background:url(../img/nav_bg_mhqx.jpg) repeat-x;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 7px 0px #818181;
	-moz-box-shadow: 0px 0px 7px 0px #818181;
	box-shadow: 0px 0px 7px 0px #818181;
}

.pzhnav {
	background:url(../img/nav_bg_pzh.jpg) repeat-x;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 7px 0px #818181;
	-moz-box-shadow: 0px 0px 7px 0px #818181;
	box-shadow: 0px 0px 7px 0px #818181;
}

nav ul {
	padding-top: 5px;
}

nav ul li {
	display: inline;
}

nav a:link {
	font-size: 30px;
	font-weight: bolder;
	font-style: italic;
	color: #3752e5;
	text-transform: uppercase;
	padding: 5px 30px 5px 30px;
}

nav a:visited {
	color: #3752e5;
}

nav a:hover {
	color: #fff;
}

.mhqxnav a:link {
	font-size: 30px;
	font-weight: bolder;
	font-style: italic;
	color: #000000;
	text-transform: uppercase;
	padding: 5px 30px 5px 30px;
}

.mhqxnav a:visited {
	color: #000000;
}

.mhqxnav a:hover {
	color: #fff;
}

.pzhnav a:link {
	font-size: 30px;
	font-weight: bolder;
	font-style: italic;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 5px 30px 5px 30px;
}

.pzhnav a:visited {
	color: #FFFFFF;
}

.pzhnav a:hover {
	color: #a9a8a8;
}

/*------------------------------------------------
                      about
--------------------------------------------------*/

#about {
	padding-top: 20px;
	width: 100%;
	height: 500px;
	position: relative;
	z-index: 400;
}

#about .subheader {
	margin-top: 83px;
}

.about_pic {
	width: 320px;
	height: 320px;
}

.about_pic img {
	width: 100%;
	height: 100%;
	margin-top: 20px;
	border-radius: 0px;
}

.about_pic p{
	padding-left: 80px;
	margin-top: -84px;
	line-height: 110px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
}

.about_copy {
	margin-top: 60px;
}

.about_copy p {
	margin-bottom: 15px;
	color: #FFFFFF;
	font-size: 16px;
}

.about_copy h4 {
	margin-bottom: 15px;
	color: #A24D39;
	font-size: 26px;
	font-weight: normal;
	text-shadow: 1px 1px 0px rgba(0, 0, 0),
	1px 2px 1px rgba(255, 255, 255);
}

#about h4 {
	margin-bottom: 15px;
}



/*------------------------------------------------
                      work
--------------------------------------------------*/

#work {
	margin-top: -7px;
	width: 100%;
	height: 520px;
	position: relative;
	z-index: 400;
}

.subheader {
	text-align: center;
	margin-top: 50px;
	padding-left: 80px;
}

.subheader h2 {
	text-align: left;
	margin-bottom: 15px;
	color: #A24D39;
	font-size: 36px;
	font-weight: normal;
	text-shadow: 1px 1px 0px rgba(0, 0, 0),
	1px 2px 1px rgba(255, 255, 255);
}

.gallery {
	margin-top: 70px;
	margin-left: 50px;
}

.gallery .audio {
	margin-top: 7px;
	font-size: 15px;
	color: #FFFFFF;
}

.gallery a {
	color: #FFFFFF;
}

span.ss_text {
	color: #808080;
}

.screenshot1 {
	background: url(../img/singe1.jpg) no-repeat;
	width: 280px;
	height: 520px;
}

.screenshot2 {
	background: url(../img/singe2.jpg) no-repeat;
	width: 280px;
	height: 520px;
}

.screenshot3 {
	background: url(../img/singe3.jpg) no-repeat;
	width: 280px;
	height: 520px;
}

.ss {
	-webkit-box-shadow: 0px 0px 0px 1px #d9d7d7;
	-moz-box-shadow: 0px 0px 0px 1px #d9d7d7;
	box-shadow: 0px 0px 0px 1px #d9d7d7;
}

.ss:hover {
	-webkit-box-shadow: 0px 0px 0px 7px #b46b6b;
	-moz-box-shadow: 0px 0px 0px 7px #b46b6b;
	box-shadow: 0px 0px 0px 7px #b46b6b;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.spacer {
	padding-bottom: 37px;
}



/*------------------------------------------------
                    services
--------------------------------------------------*/

#services {
	padding-top: 100px;
	width: 100%;
	height: 800px;
	position: relative;
	z-index: 400;
	text-align: center;
}

.serv_icons {
	margin: 50px 0 20px 0;
}

.serv_icons h3 {
	margin: 18px 0 18px 0;
}

.serv_icons p {
	color: #686868;
	font-size: 17px;
}

.serv_icon1 {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
}

.serv_icon2 {
	background: url(../img/singe1.jpg) no-repeat;
	height: 500px;
	text-align: center;
	margin: 0 auto;
}

.serv_icon3 {
	background: url(../img/singe3.jpg) no-repeat;
	/*width: 181px;*/
	height: 500px;
	text-align: center;
	margin: 0 auto;
}


/********* social **********/

.social {
	margin-top: 30px;
}

.social ul li {
	display: inline;
	margin-right: 10px;
}


.sprite:hover {
	background-position: 0 -52px;
}

/********** skills *********/

.skills {
	margin-top: 60px;
}

.skills ul li {
	margin-bottom: 15px;
}

.skills p {
	padding: 4px 0 0 10px;
	color: #fff;
	font-size: 15px;
}


/*------------------------------------------------
                      contact
--------------------------------------------------*/

#contact {
	position: relative;
	width: 100%;
	height: 580px;
	margin-top: -13px;
	z-index: 400;
}

#contact .subheader {
	margin-bottom: 60px;
}

.contact_form h4 {
	margin-bottom: 15px;
}

.contact_form input {
	width: 340px;
	height: 25px;
	margin-bottom: 15px;
	padding-left: 4px;
	background-color: #f0f0ef;
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	color: #939292;
	border-top: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.contact_form textarea {
	background-color: #f0f0ef;
	margin-bottom: 20px;
	padding-left: 5px;
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	color: #939292;
	width: 390px;
	height: 140px;
	border-top: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.contact_form input:focus, .contact_form textarea:focus {
	-moz-box-shadow: 0px 0px 6px #125b76;
	-webkit-box-shadow: 0px 0px 6px #125b76;
	box-shadow: 0px 0px 6px #125b76;
}

.contact_form input.submit-button {
	background-color: #b46b6b;
	color: #faf4ec;
	text-transform: uppercase;
	font-style: normal;
	font-size: 15px;
	width: 74px;
	padding: 0;
	text-align: center;
}

.contact_form input.submit-button:hover {
	background-color: #e76658;
}


.contact_info h4 {
	margin-bottom: 15px;
}

.contact_info p {
	margin-bottom: 6px;
	color: #4e4e4e;
}

.contact_info img {
	vertical-align: baseline;
	margin-right: 8px;
}

span.address {
	margin-left: 30px;
}

.map_frame {
	margin-top: 20px;
	-webkit-box-shadow: 0px 0px 0px 7px #f0f0ef;
	-moz-box-shadow: 0px 0px 0px 7px #f0f0ef;
	box-shadow: 0px 0px 0px 7px #f0f0ef;
}

/*------------------------------------------------
                      footer
--------------------------------------------------*/

#footer {
	width: 100%;
	height: 200px;
	position: relative;
	z-index: 400;
	text-align: center;
	padding-top: 100px;
}

footer {
	height: 80px;
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 20px;
}

footer p {
	font-size: 16px;
	color: #FFFFFF;
}

.container {
	width: auto;
}

