.timeline-label h4 {
    margin-top: 0;
    font-size: 1.9em;
    color:#55C1E5;
    padding:1em 0em;
    font-weight: 600;
}
.timeline-label p {
    font-size: 1.09em;
    color:#696969;
    padding: 0.5em 0em;
    line-height: 1.7em;
}
.timeline-label {padding: 6em 0em;}
.timeline .experience {
    position: relative;
    float: left;
    margin-left: 2em;
    padding-left: 4em;
    border-left: 2px solid #ccc;
}

.timeline .experience-info h5 {
    margin-top: 0;
    margin-bottom: 0.333em;
    font-size: 1.1em;
    color:#2C2C2C;
    font-weight: 600;
    text-align: left;
}

.timeline .experience-info .role {
    font-size: 0.9em;
    color:#323232;
    text-align: left;
}

.timeline .experience-info p {
    font-size: 0.9em;
    color:#A3A3A3;
    font-weight: 600;
    line-height: 1.7em;
    text-align: left;
}

.timeline time {
    display: block;
    width: 4.111em;
    color: #ccc;
    text-align: center;
    font-weight: 700;
}

.timeline .experience-img,
.timeline .experience-info,
.timeline .experience-info h5,
.timeline .experience-info .role,
.timeline .experience-info p {
    clear: none;
}

.timeline .experience .circle {
    position: absolute;
    top: 1em;
    left: -0.75em;
    display: block;
    width: 1.222em;
    height: 1.222em;
    border: 3px solid #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #F5F5F5;
}

.timeline .experience-img {
    float: left;
    width: 4em;
    height: 4em;
}

.timeline .experience-img img {
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    width: 100%;
}

.timeline .experience-info {
    margin-left: 5.444em;
}
/*****/
.row-content2 {
    padding: 6% 8%;
}
.column.six, .column.half, .column.threesixths, .column.twofourths {
    width: 40%;
}
.column {
    margin-left: 0;
    margin-right: 3.8%;
}
.column {
    clear: none;
    float: left;
    min-height: 1px;
}
.column.six, .column.half, .column.threesixths, .column.twofourths {
    width: 42%;
}
.column.last, .column.reset {
    margin-right: 0 !important;
}
.column {
    margin-left: 0;
    margin-right: 3.8%;
}
.experience-info p {
    margin-top: 0.67em;
    margin-bottom: 1.34em;
}
@media only screen and (max-width: 768px)
{
    .wrap {
        width:90%;
    }
    .centertxt > div:nth-child(4) {
        display: none;
    }
    .column.six {
        width: 100%;
        float: none;
        padding: 0em;
        margin: 0em;
        margin-bottom: 5em;
    }
    .timeline-label {
        text-align: center;
    }
    .timeline-label h4 {
        padding: 0.3em 0em;
    }
    .row-content2 {
        padding: 2%;
    }
    .brows_button_4 {
        margin: 2em 0em;
    }
    .exper {
        padding: 3em 0em;
    }
    .left-form, .right-form {
        float: none;
        margin: 22px 28px;
        width: 92%;
    }
    .right-form {
        float: none;
        width: 100%;
        margin: 0%;
    }
    .widget.meta-social.column.three.last {
        display: none;
    }
    #top-footer .widget {
        width: 29%;
    }
    .soc_icons ul
    {
        margin-top: 0.6em;
    }
    .soc_icons ul li {
        margin: 10px;
        width: 17%;
        float: left;
    }
    .soc_icons ul li a span {
        margin-left: 40px;
        font-size: 0.9em;
    }
    .soc_icons ul li a {
        width: 20px;
        height: 20px;
    }

}
